.homepage-left {
    height: 100%;
    width: 80%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.scroll {
    width: 1950px;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
  }

.vertical-horizontal-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
}

.horizontal-center {
    display: flex;
    justify-content: center;
}